aclocal.m4
autom4te.cache
autoregen.sh
config.*
!config.h.meson
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
kvazaar-*.tar.*
*~
build
*.swp

Makefile
compile
.deps
.libs
*gstkvazaar*[(.la)|(.lo)|(.o)]
